{% extends 'base.html' %} 

{% block title %}{{ article.title }}{% endblock title %}

{% block content %}
<h1>{{ article.title }}</h1>
{% if article.photo %}
<img src="{{ article.photo.url }}" alt="{{ article.title }}" />
{% endif %}
<h4>{{ article.subject }}</h4>
<h6>{{ article.description }}</h6>
<h6>{{ article.created }}</h6>
<p>
    نویسنده :
    {% if article.get_author_fullname %}
    {{ article.get_author_fullname}}
    {% else %}
    {{ article.author }}
    {% endif %}
</p>
<p>{{ object.text }}</p>
{% endblock content %}