<ul>
    {% for object in object_list %}
    <li>
        <a href="{% url 'products:detail' object.pk %}">
            {{ object.title }}
        </a>
    </li>
    {% empty %}
    <p>لیست محصولات خالی است</p>
    {% endfor %}
</ul>
{% if object_list %}
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
    {% endif %}
    {% for page in paginator.page_range %}
    {% if page == page_obj.number %}
    <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
    {% else %}
    <li><a href="?page={{ page }}">{{ page }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
    {% endif %}
</ul>
{% endif %}