{% extends 'base.html' %}

{% block title %}{{ product.title }}{% endblock title %}

{% block content %}
<h4>{{ product.title }}</h4>
<h6>{{ product.price }}</h6>
{% if request.user.is_authenticated %}
<form method="post" action="/add-user-order/">
    {% csrf_token %}
    <input type="text" name="product_id" value="{{ product.pk }}" hidden>
    <input type="number" name="count" value="1" min="1">
    <button type="submit">
        افـزودن به سبـد خریـد
    </button>
</form>
{% else %}
برای خرید محصول <a href="{% url 'accounts:login' %}">وارد</a> شوید
{% endif %}
<img src="{{ product.image.url }}" alt="{{ product.title }}">
{% if product_categories %}
<p>
    دسته بندی ها :
    {% for category in product_categories %}
    ,{{ category }}
    {% endfor %}
</p>
{% endif %}

{% if request.user.is_authenticated %}
<hr style="border-color: blue;" />
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">ثبت نظر</button>
    </form>
<hr style="border-color: blue;" />

{% endif %}

{% for comment in comments %}
    <hr style="border-color: red;" />
    <h3>{{ comment.title }} - {{ comment.user.get_full_name }}</h3>
    <hr />
    <p>{{ comment.text }}</p>
    <hr />
    <small>{{ comment.created }}</small>
    <hr style="border-color: red;" />
{% empty %}
<p style="color:red;">
هیچی نیست عزیزم
</p>
{% endfor %}
{% if many %}
    <a href="{% url 'products:comments' product.pk %}">نمایش تمام نضرات</a>
{% endif %}
{% endblock content %}
